@import 'scss/variables';
@import 'scss/btn';
@import 'scss/test.css';
@import 'scss/test.scss';
@import 'scss/navigation.scss';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// BIG FAT RESET ABOVE
.playBtn{
  position: fixed;
  top: 10%;
  left: 10%;
  transform: translate(-10%, -10%);
  z-index: 100;
  cursor: pointer;
}

body{
  overflow: hidden;

}
.obstacle{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20rem;
  right: -100px;
  width: 100px;
  height: 100px;
  background-color: blue;
  color: white;
  z-index: 100;
  transform: translate3d(0,0);
}
.levelTwo{
  filter: blur(10px);
}
.game{
  position: absolute;
  width: auto;
  display: flex;
  flex-flow: row nowrap;
  transform: translate3d(0, 0);
  &__sprite{
		border: 1px solid black;
    width: 300px;
    height: 150px;
    z-index: 200;
    background-image: url('./src/images/pngegg (21).png');
    background-position: center;
    background-size: cover;
  }
}
