@import 'scss/variables';
@import 'scss/btn';
@import 'scss/test.css';
@import 'scss/navigation.scss';
@import 'scss/selection.scss';
@import 'scss/explosion.scss';
@import url(//db.onlinewebfonts.com/c/bc1523d2e78d550ef9c38c497b092aa2?family=Naughty+Squirrel+Demo);


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  height: 100vh;
  width: 100vw;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// BIG FAT RESET ABOVE
.playBtn{
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0 auto;
  z-index: 300;
  width: auto;
  height: auto;
  background-color: transparent;
  border: 0px;
  transition: all 0.2s linear;
}

.playBtn:hover {
  cursor: pointer;
}

.playBtn img {
  width: 330px;
}

.vies {
  position: absolute;
  margin: 0;
  width: 320px;
  height: 160px;
  right: 0px;
  top: -30px;
  z-index: 1100;
  background-position: center;
  background-size: cover;
}

.points {
  position: absolute;
  margin: 0;
  width: 280px;
  height: 60px;
  right: -5px;
  top: 90px;
  z-index: 1100;
  background-position: center;
  background-size: cover;
}

.gameover {
    display: none;
    background-image: url('./images/gameover.png');
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 800;
    width: 700px;
    height: 400px;
    background-color: transparent;
    border: 0px;
    transition: all 0.2s linear;
    background-size: cover;
    background-position: center;
}

body{
  overflow: hidden;
}


.obstacle {
	position: absolute;
	width: 250px;
  color: white;
  z-index: 600;
	background-size: contain;
	background-repeat: no-repeat;
}

.obstacle3 {
	height: 150px;
}

.obstacle2 {
	height: 170px;
}

.obstacle1 {
	height: 200px;
}



.drapeaux1{
  position: absolute;
  top: 0;
  left: 10500px;
  width: 150px;
  height: 49vh;
  background-size: cover;
  z-index: 700;
  background-image: url('src/images/mexicoDrapeaux.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.drapeaux2{
  position: absolute;
  bottom: 0;
  left: 10500px;
  width: 150px;
  height: 49vh;
  align-self: flex-end;
  background-image: url('src/images/nigerDrapeaux.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 700;
}
.monumentA{
  position: absolute;
  bottom: 6rem;
  left: 4400px;
  width: 600px;
  height: 600px;
  background-image: url('src/images/mexiqueMonument.png');
  background-size: cover;
  background-position: center;
  z-index: 500;

}
.monumentB{
  position: absolute;
  width: 600px;
  height: 600px;
  background-image: url('src/images/mexiqueMonument2.png');
  background-size: cover;
  background-position: center;
  align-self: flex-start;
  bottom: 5rem;
  left: 5800px;
  z-index: 500;

}
.monumentC{
  position: absolute;
  width: 500px;
  height: 500px;
  background-image: url('src/images/mexiqueMonument3.png.png');
  background-size: cover;
  background-position: center;
  align-self: flex-start;
  z-index: 500;
  bottom: 6rem;
  left: 7700px;

}

.drapeaux1Lvl2{
  background-image: url('src/images/nigerDrapeaux.png');
  left: 19500px;
}
.drapeaux2Lvl2{
  background-image: url('src/images/nigeriaDrapeaux.png');
  left: 19500px;

}

.monumentALvl2{
  background-image: url('src/images/egypteMonument.png');
  width: 700px;
  height: 800px;
  left: 12500px;
  background-size: cover;
  background-position: center;
}
.monumentBLvl2{
  background-image: url('src/images/egypteMonument2.png');
  width: 700px;
  left: 14000px;
  bottom: 7rem;
  background-size: cover;
  background-position: center;
}
.monumentCLvl2{
  background-image: url('src/images/egypteMonument3.png');
  width: 1600px;
  height: 700px;
  left: 15500px;
  bottom: 0;
  background-size: cover;
  background-position: center;
}

// lvl3

.drapeaux1Lvl3{
  background-image: url('src/images/USADrapeaux.png');
  left: 28000px;
}
.drapeaux2Lvl3{
  background-image: url('src/images/ukraineDrapeaux.png');
  left: 28000px;
}
.monumentALvl3{
  background-image: url('src/images/westernMonument1.png');
  width: 400px;
  height: 400px;
  left: 21500px;
  background-size: cover;
  background-position: center;
}
.monumentBLvl3{
  background-image: url('src/images/westernMonument2.png');
  width: 400px;
  height: 400px;
  left: 23000px;
  background-size: cover;
  background-position: center;
}
.monumentCLvl3{
  background-image: url('src/images/westernMonument3.png');
  width: 400px;
  height: 400px;
  left: 26500px;
  bottom: 10rem;
  background-size: cover;
  background-position: center;
}
// lvl 4
.drapeaux1Lvl4{
  background-image: url('src/images/france.png');
  left: 38000px;
}
.drapeaux2Lvl4{
  background-image: url('src/images/japanDrapeaux.png');
  left: 38000px;
}
.monumentALvl4{
  background-image: url('src/images/parisMonument1.png');
  width: 400px;
  height: 400px;
  left: 31500px;
  background-size: cover;
  background-position: center;
}
.monumentBLvl4{
  background-image: url('src/images/parisMonument2.png');
  width: 400px;
  height: 400px;
  left: 33000px;
  background-size: cover;
  background-position: center;
}
.monumentCLvl4{
  background-image: url('src/images/parisMonument3.png.png');
  width: 400px;
  height: 400px;
  left: 36000px;
  bottom: 10rem;
  background-size: cover;
  background-position: center;
}
.game{
  position: absolute;
  width: auto;
  display: flex;
  flex-flow: row nowrap;
  transform: translate3d(0, 0);
  &__sprite{
    z-index: 900;
    background-position: center;
    background-size: cover;
  }
}
.congrats{
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px;
  height: 400px;
  background-image: url('src/images/youwin.png');
  opacity: 0;
  z-index: 400;
}

.credit{
  position: absolute;
  top: 750px;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  z-index: 1200;

  opacity: 1;
  text-align: center;
  transform: translate3d(0,0);
  &__title{
    font-size: 10rem;
    color: white;
    text-shadow: 3px 3px 3px grey;
    text-decoration: none;
    font-family: "Naughty Squirrel Demo" ;

  }
 li{
font-size: 3rem;
font-family: "Naughty Squirrel Demo" ;
color: rgb(242, 119, 25);
margin: 2rem 0
  }
  span{
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 10px;
  }
}